.scoller-left-bar{
    max-height:300PX;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    
}

.scoller-left-bar::-webkit-scrollbar{
    display: none;
}
.leftitem{
    position: relative;
    width: 55px;
    height: 55px;
    border: 1px solid rgb(46, 43, 43);
    border-radius: 50%;
}
.leftitem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.scoller-left-bar .scoller-item::before{
    content: '';
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    background-image: 
    linear-gradient(45deg,
    black,grey);
    border-radius: inherit;
    z-index: -1;
}